apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # Updated image with Username input field
        image: amirhosseinam78/calculator-frontend:v4-fix
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: ORCHESTRATOR_URL
          value: "http://orchestrator-svc:5000"
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "250m"