apiVersion: apps/v1
kind: Deployment
metadata:
  name: orchestrator-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orchestrator
  template:
    metadata:
      labels:
        app: orchestrator
    spec:
      containers:
      - name: orchestrator
        image: amirhosseinam78/calculator-orchestrator:v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        env:
        # Service Discovery configuration
        - name: ADD_SERVICE_URL
          value: "http://add-svc:5001"
        - name: MULTI_SERVICE_URL
          value: "http://multi-svc:5002"
        # Resource limits to prevent noisy neighbor issues and enable HPA
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "250m"