apiVersion: apps/v1
kind: Deployment
metadata:
  name: orchestrator-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orchestrator
  template:
    metadata:
      labels:
        app: orchestrator
    spec:
      containers:
      - name: orchestrator
        # Updated image with DB logic and Horizontal Scaling
        image: amirhosseinam78/calculator-orchestrator:v3-scaling
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        # Service Discovery
        - name: ADD_SERVICE_URL
          value: "http://add-svc:5001"
        - name: MULTI_SERVICE_URL
          value: "http://multi-svc:5002"
        # Database Connection Info (Matches Helm Install)
        - name: DB_HOST
          value: "my-postgres-postgresql" # DNS name created by Helm
        - name: DB_NAME
          value: "postgres"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASS
          value: "password123"
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "250m"