<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K8s Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>☁️ Cloud Calculator</h1>
        <form method="POST">
            <!--Username Field -->
            <div class="input-group">
                <input type="text" name="username" placeholder="Username (e.g. admin)" required autocomplete="off";">
            </div>
            
            <div class="input-group">
                <input type="text" name="expression" placeholder="e.g. 12 * 5 + 2" value="{{ expression }}" required autocomplete="off">
            </div>
            <button type="submit">Calculate</button>
        </form>

        {% if error %}
            <div class="error-box">{{ error }}</div>
        {% endif %}

        {% if result is not none %}
            <div class="result-box">
                = {{ result }}
                <!-- Show billing info -->
                <div>
                    Cost: {{ cost }} | Remaining Credits: {{ balance }}
                </div>
            </div>
        {% endif %}
        
        <div class="footer">Microservices + Database Billing</div>
    </div>
</body>
</html>